{% extends "main/layout.html" %}
{% block content %}
{% load static %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h3 style="text-align: center;">Transaction Record</h3>
      <canvas id="myChart" width="400"></canvas>
    </div>
    <br><br>
  </div>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(elems, options);
        });
      
        // Or with jQuery
      
        $(document).ready(function(){
          $('.modal').modal();
        });
  </script>
  <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/Chart.bundle.min.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          datasets: [
          {% for item in datasets %}
          {
            label: '{{ item.label }}',
            data: [
              {% for data in item.data %}
              {
                t: new Date('{{ data.x }}'),
                y: {{ data.y }}
              },
              {% endfor %}
            ],
            backgroundColor: '{{ item.backgroundColor }}',
            borderColor: '{{ item.borderColor }}'
          },
          {% endfor %}
      ]},
      options: {
          scales: {
            xAxes: [{
                type: 'time',
                distribution: 'series',
                scaleLabel: {
						  	  display: true,
							    labelString: 'Time'
						    }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                scaleLabel: {
						  	  display: true,
							    labelString: 'Price'
						    }
            }]
          }
      }
  });
  </script>

{% endblock content %}